
@font-face {
    font-family: 'dkcrayon';
    src: url('../fonts/dkcrayon.eot');
    src: url('../fonts/dkcrayon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dkcrayon.woff') format('woff'),
         url('../fonts/dkcrayon.ttf') format('truetype'),
         url('../fonts/dkcrayon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
 
}

@font-face {
    font-family: 'gothamRdBook';
    src: url('../fonts/GothamRounded-Book.eot');
    src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Book.woff') format('woff'),
         url('../fonts/GothamRounded-Book.ttf') format('truetype'),
         url('../fonts/GothamRounded-Book.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}

@font-face {
    font-family: 'gothamRdLight';
    src: url('../fonts/GothamRounded-Light.eot');
    src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Light.woff') format('woff'),
         url('../fonts/GothamRounded-Light.ttf') format('truetype'),
         url('../fonts/GothamRounded-Light.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal; 
}


@font-face {
    font-family: 'gothamRdBold';
    src: url('../fonts/GothamRounded-Bold.eot');
    src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Bold.woff') format('woff'),
         url('../fonts/GothamRounded-Bold.ttf') format('truetype'),
         url('../fonts/GothamRounded-Bold.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal; 
}


@font-face {
    font-family: 'gothamRdMedium';
    src: url('../fonts/GothamRounded-Medium.eot');
    src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Medium.woff') format('woff'),
         url('../fonts/GothamRounded-Medium.ttf') format('truetype'),
         url('../fonts/GothamRounded-Medium.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal; 
}

  @font-face {
    font-family: 'cipherIconFont';
    src:url('../fonts/icomoon.eot?jzi8jn');
    src:url('../fonts/icomoon.eot?#iefixjzi8jn') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?jzi8jn') format('truetype'),
        url('../fonts/icomoon.woff?jzi8jn') format('woff'),
        url('../fonts/icomoon.svg?jzi8jn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'cipherIconFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cipherLogoBlack:before {
    content: "\e600";
}



