@font-face {
  font-family: 'dkcrayon';
  src: url("../fonts/dkcrayon.eot");
  src: url("../fonts/dkcrayon.eot?#iefix") format("embedded-opentype"), url("../fonts/dkcrayon.woff") format("woff"), url("../fonts/dkcrayon.ttf") format("truetype"), url("../fonts/dkcrayon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdBook';
  src: url("../fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdLight';
  src: url("../fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Light.woff") format("woff"), url("../fonts/GothamRounded-Light.ttf") format("truetype"), url("../fonts/GothamRounded-Light.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdBold';
  src: url("../fonts/GothamRounded-Bold.eot");
  src: url("../fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamRounded-Bold.ttf") format("truetype"), url("../fonts/GothamRounded-Bold.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdMedium';
  src: url("../fonts/GothamRounded-Medium.eot");
  src: url("../fonts/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */
/* ==========================================================================
HTML5 display definitions
========================================================================== */
/*
* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/*
* Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support.
*/
[hidden] {
  display: none; }

/* ==========================================================================
Base
========================================================================== */
/*
* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/
html, button, input, select, textarea {
  font-family: sans-serif;
  font-family: 'Nunito', sans-serif; }

html, body {
  overflow-x: hidden;
  width: 100%; }

/*
* Addresses margins handled incorrectly in IE 6/7.
*/
body {
  margin: 0;
  font-family: "gothamRdBook", sans-serif, sans-serif; }

/*
* Font Smoothing
*/
html, html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased; }

/* ==========================================================================
Links
========================================================================== */
/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/
a:focus {
  outline: thin dotted;
  text-decoration: none; }

/*
* Improves readability when focused and also mouse hovered in all browsers.
*/
a:active, a:hover {
  outline: 0;
  text-decoration: none; }

/* ==========================================================================
Typography
========================================================================== */
/*
* Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome.
*/
h1 {
  margin: 0.67em 0;
  font-size: 3em;
  font-family: "gothamRdBook", sans-serif; }

h2 {
  margin: 0.83em 0;
  font-size: 2.5em;
  line-height: 3rem; }

h3 {
  margin: 1em 0;
  font-size: 1.5em;
  line-height: 1.7em; }

h4 {
  margin: 1.33em 0;
  font-size: 1em; }

h5 {
  margin: 1.67em 0;
  font-size: 0.83em; }

h6 {
  margin: 2.33em 0;
  font-size: 0.75em; }

/*
* Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/*
* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/
b, strong {
  font-weight: bold; }

blockquote {
  margin: 0px; }

/*
* Addresses styling not present in Safari 5 and Chrome.
*/
dfn {
  font-style: italic; }

/*
* Addresses styling not present in IE 6/7/8/9.
*/
mark {
  background: #ff0;
  color: #000; }

/*
* Addresses margins set differently in IE 6/7.
*/
p, pre {
  margin: 1em 0; }

/*
* Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace; }

/*
* Improves readability of pre-formatted text in all browsers.
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
* Addresses CSS quotes not supported in IE 6/7.
*/
q {
  quotes: none; }

/*
* Addresses `quotes` property not supported in Safari 4.
*/
q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
*/
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
Lists
========================================================================== */
/*
* Addresses margins set differently in IE 6/7.
*/
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
* Addresses paddings set differently in IE 6/7.
*/
menu, ol, ul {
  padding: 0; }

/*
* Corrects list images handled incorrectly in IE 7.
*/
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
Embedded content
========================================================================== */
/*
* 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7.
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
* Corrects overflow displayed oddly in IE 9.
*/
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
Figures
========================================================================== */
/*
* Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
figure {
  margin: 0; }

/* ==========================================================================
Forms
========================================================================== */
/*
* Corrects margin displayed oddly in IE 6/7.
*/
form {
  margin: 0; }

/*
* Define consistent border, margin, and padding.
*/
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

/*
* 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7.
*/
legend {
  padding: 0;
  border: 0;
  /* 1 */
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
* 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers.
*/
button, input, select, textarea {
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  font-size: 100%;
  /* 1 */
  *vertical-align: middle;
  /* 3 */ }

/*
* Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet.
*/
button, input {
  line-height: normal; }

/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6.
*/
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
* Re-set default cursor for disabled elements.
*/
button[disabled], input[disabled] {
  cursor: default; }

/*
* 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6.
*/
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
  /* 2 */
  box-sizing: content-box;
  nowhitespace: afterproperty; }

/*
* Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
/*
* Removes inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/*
* 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers.
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
Tables
========================================================================== */
/*
* Remove most spacing between table cells.
*/
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both; }

a {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

.nopadding {
  margin: 0 !important;
  padding: 0 !important; }

p {
  font-size: 14px;
  line-height: 25px; }

a {
  color: #f9bb3c; }

a:hover, a:focus {
  color: #f9bb3c;
  text-decoration: none; }

.texture-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/grid.png); }

.header {
  position: relative;
  display: inline-block;
  min-height: 100px;
  vertical-align: top;
  margin: 2em; }
  .header h1 {
    font-family: "dkcrayon", sans-serif;
    font-size: 5em;
    margin: 4rem auto; }
  .header.white h1 {
    color: #FAFAFA; }

.bold {
  font-family: "gothamRdBold", sans-serif; }

.center {
  margin: 0 auto;
  text-align: center; }

/* Button */
.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464; }

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden; }

.button.narrow {
  width: 60px; }

.button.grey {
  background-color: #eee; }

.button.blue {
  background-color: #4285f4;
  color: #fff; }

.button.green {
  background-color: #0f9d58;
  color: #fff; }

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s; }

/* Icon Button */
.icon-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px; }

.icon-button > core-icon {
  margin: 16px;
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.icon-button:hover > core-icon {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.icon-button > paper-ripple {
  overflow: hidden;
  color: #646464; }

.icon-button.red > core-icon::shadow path {
  fill: #db4437; }

.icon-button.red > paper-ripple {
  color: #db4437; }

.icon-button.blue > core-icon::shadow path {
  fill: #4285f4; }

.icon-button.blue > paper-ripple {
  color: #4285f4; }

/* FAB */
.fab {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.fab.red {
  background-color: #d23f31; }

.fab.blue {
  background-color: #4285f4; }

.fab.green {
  background-color: #0f9d58; }

.fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s; }

.fab > core-icon {
  margin: 16px; }

.fab > core-icon::shadow path {
  fill: #fff; }

/* Menu */
.menu {
  display: inline-block;
  width: 180px;
  background-color: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.item {
  position: relative;
  height: 48px;
  line-height: 48px;
  color: #646464;
  font-size: 0.9em; }

.menu.blue > .item {
  color: #4285f4; }

/* Card, Dialog */
.card, .dialog {
  position: relative;
  min-width: 250px;
  min-height: 400px;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24); }
  .card h2, .dialog h2 {
    padding: 20px; }

.dialog {
  box-sizing: border-box;
  padding: 16px; }

.dialog > .content {
  height: 170px;
  font-size: 0.9em; }

.dialog > .content > .title {
  font-size: 1.3em; }

.dialog > .button {
  width: 90px;
  float: right; }

.card.image {
  background: url(http://lorempixel.com/300/240/nature/);
  color: #fff; }

/* Misc */
.center {
  text-align: center; }

.label {
  padding: 0 16px; }

.label-blue {
  color: #4285f4; }

.label-red {
  color: #d23f31; }

.redHighlighter {
  color: #df4e5e; }

/* ==========================================================================
Buttons
========================================================================== */
.use-btn {
  display: inline-block;
  margin: 20px 0px;
  padding: 20px 50px;
  border-radius: 2px;
  background-color: #31bda5;
  color: white;
  font-size: 16px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer; }
  .use-btn:hover, .use-btn:focus, .use-btn:active {
    background-color: #4bb3a7;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s; }

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s; }

.learn-btn, .download-btn {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 2px;
  color: #fff;
  background-color: #df4e5e;
  font-size: 16px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer; }
  .learn-btn.orange, .download-btn.orange {
    background-color: #f9bb3c; }
  .learn-btn.form-btn, .download-btn.form-btn {
    padding: 10px 25px;
    font-size: 18px;
    margin: 5px; }

.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus, .learn-btn:active, .download-btn:active {
  border-color: #f9bb3c;
  color: #FAFAFA;
  background-color: #CB293C;
  text-decoration: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s; }
  .learn-btn:hover.orange, .download-btn:hover.orange, .learn-btn:focus.orange, .download-btn:focus.orange, .learn-btn:active.orange, .download-btn:active.orange {
    background-color: #f5c70f; }

.read-more-btn {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.read-more-btn i, .download-btn i {
  margin-left: 5px; }

.showcase .download-btn {
  margin-top: 50px; }

.download .download-btn {
  margin-top: 25px; }

/* ==========================================================================
Navigation
========================================================================== */
.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0px;
  cursor: pointer;
  text-shadow: 0.7px 0.7px rgba(0, 0, 0, 0.76); }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: '';
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 1px;
  background: #f9bb3c;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg); }

.navicon {
  position: relative;
  height: 26px; }

.navicon h3 {
  margin: -10px 45px 0 0;
  font-family: "gothamRdBold", sans-serif;
  font-size: 30px; }

.navicon-fixed {
  position: fixed;
  top: 59px;
  right: 143px; }

/* ==========================================================================
Hero
========================================================================== */
#logo {
  width: 100px; }

.hero {
  position: relative;
  padding: 60px 0 60px 0;
  min-height: 800px;
  background: #31bda5 url("../img/conesusdawn.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26); }
  .hero.about {
    background: #009ba3 url("../img/tahoedawn.jpg") no-repeat center center;
    background-size: cover; }
  .hero.circles {
    background: #009ba3 url("../img/windfarmdawn.jpg") no-repeat center center;
    background-size: cover; }

.hero-content h1 {
  margin: 200px 0 25px 0;
  font-weight: 300;
  font-size: 6em;
  font-family: "gothamRdBold", sans-serif; }

.hero-content h2 {
  margin: 0 0 25px 10px; }

.hero h1 span {
  display: inline-block;
  color: #a1a9b0; }

#home {
  width: 100%;
  height: 100%; }

.hero {
  width: 100%;
  height: 100%; }

header i {
  margin-left: 5px; }

/* ==========================================================================
~~~Video
========================================================================== */
section.separator i {
  margin-right: 10px;
  color: #000;
  vertical-align: middle;
  font-size: 50px; }

section.separator h3 {
  font-weight: 300;
  font-size: 2.2rem;
  font-family: "gothamRdLight", sans-serif;
  color: #FAFAFA; }
section.separator span {
  color: #f9bb3c; }
section.separator.circles h3, section.separator.circles2 h3 {
  color: black; }
section.separator.circles span, section.separator.circles2 span {
  color: #df4e5e; }
section.separator section.separator h1 {
  font-family: "gothamRdBold", sans-serif;
  font-size: 3.7rem;
  -webkit-transition: padding-left 600ms;
  -moz-transition: padding-left 600ms;
  -o-transition: padding-left 600ms;
  -ms-transition: padding-left 600ms;
  transition: padding-left 600ms; }

section.separator {
  padding: 60px 0; }
  section.separator span {
    color: #f9bb3c; }
  section.separator.circles {
    background: url("../img/circleBg1.png");
    background-color: #31bda5; }
  section.separator.circles2 {
    background: url("../img/circleBg2.png");
    background-color: #f9bb3c; }
    section.separator.circles2.circles2a {
      background-color: #c2fcf5; }
    section.separator.circles2.circles2b {
      background-color: #aae6df; }
    section.separator.circles2.circles2c {
      background-color: #50c7ba; }
  section.separator.circles2side {
    background: url("../img/circleBg3a.png");
    background-color: #f9bb3c;
    background-position: 40% 0; }
    section.separator.circles2side span {
      color: #df4e5e; }
    section.separator.circles2side.circles3a {
      background-color: #f5c70f;
      background-position: 20% 0; }
    section.separator.circles2side.circles3b {
      background-color: #edb600;
      background-position: 30% 0; }
    section.separator.circles2side.circles3c {
      background-color: #ff9a40;
      background-position: 50% 0; }
  section.separator.circles3 {
    background: url("../img/circleBg3.png");
    background-color: #df4e5e; }
  section.separator.circles4 {
    background: url("../img/circleBg4.png");
    background-color: #f9bb3c; }

section.separator a:hover, section.separator a:focus {
  color: #FAFAFA;
  text-decoration: none; }

section.separator a:hover i, section.separator a:focus i {
  color: #FAFAFA; }

section.video h1 {
  font-weight: 400;
  font-size: 20px;
  padding-left: 5px; }

section.video {
  padding: 60px 0;
  background-color: #f6f7f9; }

section.video a {
  color: #000; }

section.video a:hover, section.video a:focus {
  color: #df4e5e;
  text-decoration: none; }

section.video a:hover i, section.video a:focus i {
  color: #df4e5e; }

/* ==========================================================================
Sections
========================================================================== */
/* ==========================================================================
Custom Slider Controls (Flickity)
========================================================================== */
.flickity-page-dots .dot {
  width: 13px;
  height: 13px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.flickity-page-dots .dot.is-selected {
  background: white; }

/* ==========================================================================
Features Slider
========================================================================== */
.features-bg {
  position: relative;
  min-height: 400px;
  background: url("../img/features-intro-01.jpg") no-repeat center center;
  background-size: cover; }

.features-img {
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px; }

.features-slider {
  position: relative;
  padding: 11% 100px 10% 100px;
  height: 400px;
  background-color: #df4e5e; }

.features-slider ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.features-slider ul li {
  width: 100%; }

.features-slider li h1 {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 22px; }

.features-slider li p {
  color: #fff;
  font-size: 14px; }

.features-intro-img {
  position: relative; }

.slides li h1 {
  margin: 0;
  padding: 0; }

.features-slider .flickity-page-dots {
  text-align: left;
  margin-top: 50px;
  position: static; }

.features-slider .flickity-page-dots .dot {
  margin: 0 12px 0 0; }

.description {
  font-family: "gothamRdLight", sans-serif; }
  .description h3 {
    padding: 10px;
    font-size: 26px; }
  .description p {
    padding: 10px; }
  .description.right {
    padding: 2rem 0 0 3rem; }
  .description.left {
    padding: 2rem 0 3rem 0; }
  .description ul {
    margin: 5rem auto; }
  .description li {
    font-size: 2rem; }

.stats img {
  max-width: 80%;
  margin: 3rem; }

.left img {
  float: left; }

/* ==========================================================================
Separatorz
========================================================================== */
.separator.heatSpot {
  background-color: #31bda5;
  color: #000000;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  background: #31bda5 url("../img/circleBg3a.png");
  background-position: 40% 0;
  background-size: cover;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26); }
  .separator.heatSpot h2 {
    font-family: "gothamRdMedium", sans-serif; }
  .separator.heatSpot h1 {
    font-family: "gothamRdBold", sans-serif;
    font-size: 4rem; }
  .separator.heatSpot:hover {
    background-color: #f9bb3c; }
    .separator.heatSpot:hover h1 {
      -webkit-transition: padding-left 600ms;
      -moz-transition: padding-left 600ms;
      -o-transition: padding-left 600ms;
      -ms-transition: padding-left 600ms;
      transition: padding-left 600ms;
      padding-left: 45px;
      color: #CB293C; }
    .separator.heatSpot:hover i {
      color: #CB293C; }
.separator.orangeBg {
  background-color: #f9bb3c; }
.separator.redBg {
  background-color: #df4e5e; }

#screenshot {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56); }

/* ==========================================================================
Features List
========================================================================== */
.features-list {
  padding: 130px 0;
  padding: 130px 0; }
  .features-list.grey50 {
    background-color: #FAFAFA; }
  .features-list .lightgreyBg {
    background-color: #BDBDBD; }
  .features-list.darkgreyBg {
    background-color: #616161; }
  .features-list.grey600 {
    background-color: #9E9E9E; }
  .features-list.lightGreen {
    background-color: #c2fcf5; }
  .features-list.medGreen {
    background-color: #50c7ba; }

.features-list.lightgreyBG {
  background-color: black; }

.features-list h1 {
  margin: 0 0 10px 0;
  padding: 0; }

.features-list p {
  margin-bottom: 20px;
  font-size: 16px; }

.feature-content {
  display: inline-block;
  margin-left: 0;
  width: 90%; }
  .feature-content.cipherPpl img {
    margin: 10px; }

.cipherdemo img {
  width: 100%;
  display: inline-block; }

.feature-icon {
  display: inline-block;
  margin-right: 25px;
  width: 90px;
  height: 90px;
  border: solid 2px #4e9ba3;
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
  line-height: 90px; }

.feature-icon i {
  color: #4e9ba3; }

/* ==========================================================================
Blockquote
========================================================================== */
blockquote {
  margin: 40px 0 0;
  padding: 0;
  border: none; }

blockquote p {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 70%;
  vertical-align: top;
  font-style: italic; }

blockquote .avatar {
  display: inline-block;
  margin-right: 20px;
  width: 64px;
  height: 64px;
  vertical-align: middle; }

blockquote .logo-quote {
  display: inline-block;
  margin: 0 0 0 90px; }

/* ==========================================================================
Showcase
========================================================================== */
.showcase {
  background: url("../img/conesusdusk.jpg") no-repeat center center fixed;
  background-size: cover; }
  .showcase.about {
    background: url("../img/tahoedusk.jpg") no-repeat center center fixed;
    background-size: cover; }
  .showcase.circles {
    background: url("../img/windfarmdusk.jpg") no-repeat center center fixed;
    background-size: cover; }

.showcase h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px; }

.showcase p {
  margin-bottom: 25px;
  color: #fff; }

.device {
  position: absolute;
  top: -60px;
  left: 20%;
  min-height: 676px;
  width: 359px;
  background: url("../img/iphone-skeleton.png") no-repeat center center; }

.device-content {
  position: absolute;
  top: 115px;
  left: 56px;
  width: 247px;
  height: 445px;
  background: rgba(0, 0, 0, 0.3); }

.device-content img {
  width: 247px;
  height: 445px; }

.showcase-wrap {
  position: relative;
  padding: 100px 0;
  min-height: 600px; }

.showcase-slider ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.showcase-slider .flickity-page-dots {
  bottom: 20px; }

/* ==========================================================================
Screenshots Intro
========================================================================== */
.screenshots-intro {
  padding: 170px 0 100px 0;
  background-color: #f6f7f9; }

.screenshots-intro h1 {
  margin-bottom: 20px;
  color: #000;
  font-weight: 400;
  font-size: 22px; }

.screenshots-intro p {
  margin-bottom: 25px;
  color: #778899; }

/* ==========================================================================
Profiles
========================================================================== */
/*~~I Want Pics*/
.profilePic {
  display: inline-block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden; }
  .profilePic img {
    height: 510px;
    width: 190px;
    margin: 0 auto;
    display: block; }

.profilePic:hover, .profilePic:focus {
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px; }

.profilePic:hover img, .profilePic:focus img {
  position: relative;
  top: -205px; }

.profilePic.person {
  height: 255px;
  display: block; }

.profilePic.person:hover img, .profilePic.person:focus img {
  position: relative;
  top: -255px; }

.socialIcon {
  width: 50px;
  margin: 15px; }

/* ==========================================================================
Screenshots
========================================================================== */
.screenshots ul {
  margin: 0;
  padding: 0;
  width: 100%; }

.screenshots ul li {
  float: left;
  min-height: 100%;
  width: 25%;
  background-color: #000;
  list-style: none; }

.screenshots figure {
  position: relative;
  overflow: hidden; }

.screenshots figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.screenshots figure:hover img, .screenshots figure:focus img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.screenshots figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25% 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 97, 132, 0.85);
  text-align: center;
  font-size: 15px;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.screenshots figcaption a {
  color: #fff; }

.screenshots figcaption a:hover, .screenshots figcaption a:focus {
  color: #df4e5e; }

.screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
  opacity: 1; }

.visible {
  opacity: 1; }

.screenshots figure.cs-hover figcaption {
  opacity: 1; }

.screenshots figcaption i {
  font-size: 35px; }

.screenshots figcaption p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400; }

.screenshots figcaption .caption-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -100px;
  width: 200px;
  -webkit-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  transform: translate(0px, 15px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

/* ==========================================================================
Download Now
========================================================================== */
.download {
  padding: 30px 0; }

.download h2 {
  margin: 20px 0 20px 0;
  color: #fff;
  font-weight: 400;
  font-size: 40px; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  padding: 20px 0; }

footer p {
  color: #c7cacc;
  font-size: 12px;
  margin: 100px 0 0 0; }

footer ul {
  margin-top: 30px; }

footer li {
  float: left;
  padding-top: 80px;
  margin-right: 5%;
  font-size: 16px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400; }

footer li a {
  color: #31bda5; }

footer li:last-child {
  margin-right: 0; }

#footerLogo {
  width: 50%;
  margin: 4rem auto;
  display: block; }

.footer_cta h2 {
  margin: 2rem 0 0 0;
  text-align: center; }

footer .socialIcons {
  margin: 90px 0 0 0; }
  footer .socialIcons img {
    width: 50px; }

#form1 {
  background-color: #31bda5; }
  #form1 input {
    display: inline-block;
    float: left; }

form {
  text-align: center; }
  form input {
    font-family: "gothamRdLight", sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.form-control {
  height: 42px;
  padding: 6px 12px;
  font-size: 18px; }

.form {
  height: 100%;
  margin: 2rem auto; }
  .form .form_wrapper {
    background-color: #31bda5;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
    .form .form_wrapper h2, .form .form_wrapper h3 {
      text-align: center;
      font-family: "gothamRdMedium", sans-serif;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

/* ==========================================================================
Nav Overlay
========================================================================== */
/* Overlay style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(249, 187, 60, 0.7); }

/* Menu style */
.overlay nav {
  position: relative;
  top: 50%;
  height: 60%;
  text-align: center;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.overlay ul li {
  display: block;
  float: left;
  margin-right: 20px; }

.overlay ul li:last-child {
  margin-right: 0px; }

.overlay ul li i {
  display: block;
  margin-bottom: 10px;
  font-size: 40px;
  text-shadow: 0.7px 0.7px rgba(0, 0, 0, 0.76); }

.overlay ul li a {
  display: block;
  padding: 50px 0;
  min-width: 190px;
  border-radius: 3px;
  background-color: #f9bb3c;
  color: #fff;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26);
  text-transform: uppercase;
  font-family: "gothamRdBold", sans-serif;
  font-size: 15px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .overlay ul li a.two {
    background-color: #31bda5; }
  .overlay ul li a.three {
    background-color: #df4e5e; }

.overlay ul li a:hover, .overlay ul li a:focus {
  border-color: #df4e5e;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s; }

/* Effects */
.nav-overlay {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.nav-overlay.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.nav-overlay nav ul li {
  opacity: 0;
  -webkit-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

.nav-overlay.open nav ul:first-child li:first-child {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.nav-overlay.open nav ul:first-child li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.nav-overlay.open nav ul:nth-child(2) li:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.nav-overlay.open nav ul:nth-child(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.nav-overlay.open nav ul li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
  visibility: hidden; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/*# sourceMappingURL=style.css.map */
