<!DOCTYPE html> 
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">  
<!-- HEY IONA CLASS! Y'all are pretty decently cool. I guess I don't dislike you too-too much- <3 Gweedz -->
<head>
  <meta charset="UTF-8">
  <title>Cipher | Your Local Code Community</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  Meta Data -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
<meta property="og:title" content="Project Cipher: Your Local Code Community"/>
<meta property="og:image" content="http://projectcipher.io.s3.amazonaws.com/cipherBCard.jpg"/>
<meta property="og:image" content="http://projectcipher.io.s3.amazonaws.com/og_card2.jpg"/>
<meta property="og:image" content="http://projectcipher.io.s3.amazonaws.com/og_card3.jpg"/>
<meta property="og:url" content="http://projectcipher.io/index.html"/>
<meta property="og:site_name" content="Cipher | Your Local Code Community"/>
<meta property="og:description" content="Cipher is a code learning community for youth in the GTA."/>
<meta name="twitter:title" content="Cipher | Your Local Code Community" />
<meta name="twitter:image" content="http://projectcipher.io.s3.amazonaws.com/cipherBCard.jpg" />
<meta name="twitter:url" content="https://twitter.com/projectcipher" />
<meta name="twitter:card" content="Cipher is a code learning community for youth in the GTA." />

<!-- Meta content -->
<meta name="description" content="Cipher is a code learning community for youth in the GTA.">
<meta name="author" content="Cipher Labs">
<meta content="Cipher is a code-learning community for youth in the GTA.">
<meta name="keywords" content="coding, youth, code, community, free, apply, access, technology, brampton, mississauga" />


<script src="js/modernizr.custom.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jquery.fancybox.css" rel="stylesheet">
<link href="css/flickity.css" rel="stylesheet" >
<link href="css/animate.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet">
<link href="css/queries.css" rel="stylesheet">
<link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
<link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">		
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- <script src="angular.js"></script> -->

<script>
//   var cipher = angular.module("app", [],
//     function($interpolateProvider) {
// 	  $interpolateProvider.startSymbol('[!');
// 	    $interpolateProvider.endSymbol('!]');
	
// 	}) ///
//    cipher.controller('appCtrl', function($scope) {
//    	  $scope.backdrop = 'off';
// 	  $scope.modal_video = 'off';
// 	  $scope.modal_join = 'off';
// 	  $scope.modal_mentor = 'off';
// 	  $scope.modal_sponsor = 'off';
// 	  $scope.modal_lineup = 'off';

// 	}) ///
// </script>
</head>

<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
			<h1 class="hidden">Join us in learning to code websites and apps, design products, and start an organization. Cipher Circles are free, fun, and life-changing.</h1>
			<img class="hidden" src="http://projectcipher.io.s3.amazonaws.com/cipherBCard.jpg" alt="Cipher Logo"/>
<header>
	<section class="hero">
  <div class="texture-overlay"></div>
    <div class="heroContent">
    	<div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
            <a href="index.html"><img id="logo" src="pics/cipherLogoFinal.png" alt="Cipher Logo"></a>
          </div> <!-- - end Logo div -->
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          	<h3>menu</h3><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
			<div class="row hero-content">
				<div class="col-md-12">
					<h1 class="animated fadeInDown">cipher</h1>
						<h2 class="animated fadeInUp">your local code community</h2>
						<a class="learn-btn animated fadeInUp bttn typeform-share" href="https://cipher.typeform.com/to/toKWCm" data-mode="2" target="_blank">apply now<paper-ripple fit></paper-ripple></a>
				</div>
			</div>
			</div><!-- - / container -->
		</div> <!-- - / heroContent -->
	</section>
</header>

<a href="https://www.youtube.com/watch?v=B5TjVRvDZxk" class="youtube-media">
  <section class="separator heatSpot" id="about">
    <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
          <h2>learn what cipher will do for you</h2>
						<div id="overlay">
							<div class="screenshot">
	          		<img class="" id="screenshot" src="pics/vidShot3.jpg" alt="you will thrive in our inspiring, social, and competitive learning atmosphere.">
							</div>
						</div>
            <h1><i class="fa fa-hand-o-right"></i> take the tour</h1>							
      </div>
    </div><!-- - / row -->
    </div>
  </section>
</a>
<section class="features-list grey50" id="features">
	<div class="container">
  <div class="row">
  <div class="col-md-4 feature-1 wp2">
        <div class="feature-content">
          <h1 class="">imagine learning to code in a social, inspiring, competitive atmosphere. <br><br><span class="bold">that's cipher.</span></h1>
        </div>
    </div>
		<div class="col-md-8 feature-3 wp2 delay-03s">
				<div class="feature-content cipherPpl">
				<img src="pics/girl1.svg" class="first3rd">
				<img src="pics/code.svg">	
				<img src="pics/dude2.svg">
				<img src="pics/moustache.svg" class="third3rd">
				<img src="pics/dude1.svg" class="second3rd">
				<img src="pics/dude3.svg" class="second3rd">
				<img src="pics/robot.svg" class="third3rd">
				<img src="pics/girl4.svg">
				<img src="pics/pageLayout.svg" class="first3rd">	
				<img src="pics/girl2.svg" class="second3rd">
				<img src="pics/astro.svg" class="second3rd">
				<img src="pics/puzzle.svg">
				<img src="pics/girl3.svg">
				<img src="pics/console.svg">	
				<img src="pics/codeninja.svg" class="first3rd">
        </div>
    </div>
  </div><!-- end row -->
  </div><!-- / end container div-->
</section> <!-- / features -->

<section class="separator circles3" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h3>"this beautiful quote section is<b> up for silent auction</b>! you're an awesome company that does awesome things -- so why not sponsor young coders by putting your quote here?! you'd be our <s>star</s> <u>hero</u> &hearts;. request our <a href="https://cipher.typeform.com/to/inaIf8" class="typeform-share" data-mode="2" target="_blank"> sponsorship package</a>.</h3>
				<h2><span class="yellow"><b>mark zuckerberg? </b></span>- founder, <b>a tech success story</b> </h3>
			</div><!-- -/ col - -->
		</div><!-- -/ row - -->
	</div><!-- -/ container - -->
</section><!-- -/separator - -->


<section class="features-list grey50" id="features">
<div class="container">
		<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="header">				
						<h1>what it's like:</h1>
					</div>
				</div>					
		</div><!-- -/ row - -->
<div class="row">
	<div class="col-md-5 col-md-offset-1 feature-1 wp2">
	  <div class="description">
	    <h3 class="">you have the drive, ability and smarts to be a changemaker, we just want to help make it happen.</h3>
	    <p class="">learning to code is a lot like learning how to play guitar, how to swim, or how to shoot a dirty three-pointer: it's gotta be done with peers, in a healthy environment. when you're in a cipher circle, you progress together with your friends and with the help of some code-rockstar-heros from your community.</p>
						<a class="use-btn animated fadeInUp bttn typeform-share" href="https://cipher.typeform.com/to/aGySUS" data-mode="2" target="_blank">join a circle<paper-ripple fit></paper-ripple></a><!-- - /button - -->
						<a class="learn-btn animated fadeInUp bttn typeform-share" href="https://cipher.typeform.com/to/inaIf8" data-mode="2" target="_blank">be a hero to young coders<paper-ripple fit></paper-ripple></a>	
	  </div><!-- - /description - -->
	</div><!-- - /col - -->						
	<div class="col-md-6 feature-3 wp2 delay-03s">
		<div class="cipherdemo">
			<img class="" src="pics/cipherdemoBlack.png">
		</div>
	</div><!-- -/col - -->										
</div><!-- -/row -->
</div><!-- -/container - -->
</section>

<section class="showcase">
	<div class="showcase-wrap">
		<div class="texture-overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features-list" id="features">
	<div class="container">
		<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="header">				
						<h1>...um... it's like:</h1>
					</div>
				</div>					
		</div>
		<div class="row">					
				<div class="col-md-6 feature-3 wp2 delay-03s">
					<div class="cipherdemo">
						<img class="" src="pics/cipherGrowB.png">
					</div>
				</div>										
				<div class="col-md-5 col-md-offset-1 feature-1 wp2">
					<div class="description">
						<h3 class="">cipher is the <i>first</i> of it's kind. here, you're part of an innovative way to learn &amp; grow.</h3>
						<p class="">it's an unfortunate reality that schools can't keep up with the rate of change in technology. you are simply not getting the mentorship and skill-building you need to be a changemaker in 2015. with cipher, you will transform from being a consumer of technology to a straight-up maker of magic.</p>
					</div>
				</div>								
		</div>
	</div>
</section>


<section class="separator circles4" id="download">
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center wp4">
      <h2>fill out an application</h2><br>
						<a class="use-btn animated fadeInUp bttn typeform-share" href="https://cipher.typeform.com/to/toKWCm" data-mode="2" target="_blank"><span class="icon-cipherLogoBlack" id="icon_font"></span>&nbsp;apply now<paper-ripple fit></paper-ripple></a><!-- - /button - --> 			
        <br>
        <h2>for our fall 2015-16 circles</h2>
    </div>
  </div><!-- - / row - -->
  </div><!-- - / container - -->
</section> <!-- -/ separator - -->

<div id="footer">
  <div class="container footer_cta">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">	
      <img id="footerLogo" src="pics/cipherLogoBigOG.png" alt="Cipher Logo">
      <h2>we're on a mission to make coding education universal, free &amp; life-changing</h2>
      <br></br>
    </div>
  </div><!-- - row - -->
  </div><!-- - container -->
</div>

<footer class="global-footer">
  <section id="email">
  <div class="container email_intake">
    <div class="row" id="footernav">
      <div class="col-sm-4 col-xs-6 footer-col">
        <h3 class="subnavtitle">cipher</h3>
        <ul>   
          <li>
             <a href="#">home</a>
          </li>     
          <li>
            <a href="about.html">about us</a>
          </li> 
          <li>
            <a href="http://labs.projectcipher.io">labs</a>
          </li>              
        </ul>  
      </div>

      <div class="col-sm-4 col-xs-6 footer-col">
        <h3 class="subnavtitle">community</h3>
        <ul>
           <li>
             <a href="http://campfire.projectcipher.io">campfire</a>
          </li>
          <li>
            <a href="circles.html">circles</a>
          </li>        
          <li>
            <a target="_blank" href="http://launch.projectcipher.io">launch</a>
          </li>                  
        </ul>  
      </div>

      <div class="col-sm-4 col-xs-6 footer-col">
        <h3 class="subnavtitle">connect</h3>
        <ul>
          <li>
            <a href="https://medium.com/cipher-writes">blog</a>
          </li>  
          <li>
             <a href="mailto:team@projectcipher.io?Subject=Cipher%Inquiry" target="_blank">contact us</a>
          </li>
				</div><!-- - /col -->          
        </ul>  
      </div>  
		  <div class="row">
				<div class="col-md-4 col-md-offset-8">
					<div class="socialIcons">
						<a target="_blank" href="https://facebook.com/projectcipher"><img src="pics/icons/facebook.png"></a>
						<a target="_blank" href="https://twitter.com/projectcipher"><img src="pics/icons/twitter.png"></a>
						<a target="_blank" href="https://instagram.com/projectcipher"><img src="pics/icons/insta.png"></a>
					</div>
				</div>
		  </div>      
    </div>
  </div> 

    <div class="row">  
      <div class="col-sm-6 copyright">
          <h4>
           &copy; 2015 cipher | made with &hearts; in brampton | backgrounds by<a href="http://www.alexpasquarella.com/"> alex</a>           
          </h4>
      </div>

    </div>
    
</footer>

<div class="overlay nav-overlay">
	<nav>
		<ul>
			<li><a href="index.html"><span class="icon-cipherLogoBlack"></span> cipher<paper-ripple fit></paper-ripple></a></li>
			<li><a href="about.html" class="two"><i class="fa fa-chain"></i>community<paper-ripple fit></paper-ripple></a></li>
    </ul>
    <ul>
			<li><a href="circles.html" class="three"><i class="fa fa-circle-thin"></i>circles<paper-ripple fit></paper-ripple></a></li>				
			<li><a href="http://labs.projectcipher.io"><i class="fa fa-flask"></i>labs<paper-ripple fit></paper-ripple></a></li>	
		</ul>		
	</nav>
</div>

<a class="" href="http://campfire.projectcipher.io" target="_blank">
	<div class="campfire_wrapper">
		<div class="campfire">	
			<h3>#CipherCampfire</h3>
		</div>
	</div>
</a>

<!-- - ||||||| Modals - -->
<!-- 
<style>
.backdrop { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(49,189,165, 0.8); }
.close_modal {position: fixed; top: 25px; left: 25px; z-index: 1000; padding: 10px; }
</style>
<div class="backdrop" ng-show="modal_join=='on'">
	<div class="close_modal" ng-click="modal_join=='off'">close</div>
</div>

<div class="modal_video" ng-show="modal_video=='on'">
  modal_video
  <form>
  	<table>
  		<tr>
  			<td class="label"></td>
  			<td class="input"></td>
  		</tr>
  	</table>
  </form>


</div> -->
<!-- - /modal_video - -->

  <!-- join Form -->
<!-- 
<style>
.modal_wrap { position: fixed; top: 25%; }
.modal_html { width: 600px; margin: 0 auto; background-color: rgba(0,0,0,.5); padding: 25px;  border: 1px solid #222; }
  tr { height: 24px; }
  td.label { text-align: right; padding-right: 10px; font-size: 14px; }
  input[type="text"] {  width: 275px; height: 18px; }
  td.submit { text-align: right; }
</style>

<div class="modal_wrap" ng-show="modal_join=='on'">
	<div class="modal_html">
		
  <form name="join_form" action="../../add_join" method="put">
    <table>
  	  <tr>
  	  	<td class="label">Full Name</td>
  	  	<td class="input"><input type="text" ng-model="name_full" name="name_full" placeholder="First Last" /></td>
  	  </tr>
  	  <tr>
  	  	<td class="label">Email</td>
  	  	<td class="input"><input type="text" name="email" placeholder="Address" /></td>
  	  </tr>
  	  <tr>
  	  	<td class="label">Social</td>
  	  	<td class="input"><input type="text" name="social" placeholder="Twitter / Tumblr / Facebook Link" /></td>
  	  </tr>
  	  <tr>
  	  	<td class="label"></td>
  	  	<td class="submit"><input type="submit" value="join the cipher"></td>
  	  </tr>
  	</table>
  </form>
</div>  
</div>  -->
<!-- - /modal_join - -->

<!-- <div class="modal_mentor" ng-show="modal_mentor=='on'">
  modal_mentor

   <form>

  </form>

</div>  --><!-- - /modal_mentor - -->

<div class="modal_sponsor" ng-show="modal_sponsor=='on'">
  <!-- modal_sponsor -->

</div><!-- - /modal_sponsor - -->

<div class="modal_lineup" ng-show="modal_lineup=='on'">
  <!-- modal_lineup -->

</div> <!-- - /modal_lineup - -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/min/toucheffects-min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/flickity.pkgd.min.js"></script>
		<script src="js/jquery.fancybox.pack.js"></script>
		<script src="js/retina.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/waypoints.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
		<script type="text/javascript" src="js/fullsize.js"></script>
		<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>		
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-63547682-1', 'auto');
		ga('send', 'pageview');

		</script>
    <script src="//load.sumome.com/" data-sumo-site-id="d934578cc1c7b18ae943a2fcc219fd827cea7642ddf23013ac59aa81a14d9a07" async="async"></script>    
	</body>
</html>
